<div class=login-page>
	<div class=img-container>
		<div class="text-center pull-right photo" sytle="background:grey !important;">
			<img src=images/flat-avatar.png
				class="user-avatar img-circle img-responsive">
			<h1>
				10<br> <span>POR UM</span><br>
			</h1>
		</div>
	</div>
	<div class=form-content>
		<div class=pro-link>
			<a href="http://www.strapui.com/">Cadastre-se</a>
		</div>
		<form role=form class=bottom-75 ng-submit=submit()>
			<div class=table-form>
				<div class=form-groups>
					<div class=form-group>
						<input type=text class="form-control input-lg" placeholder=Email>
					</div>
					<div class=form-group>
						<input type=password class="form-control input-lg"
							placeholder=Senha>
					</div>
				</div>
				<div class=button-container>
					<button type=submit class="btn btn-default login">
						<img src=images/arrow.png>
					</button>
				</div>
			</div>
			<div class=remember>
				<label class=checkbox1 for=Option> <input id=Option
					type=checkbox> <span></span>
				</label>Lembrar-me<span class=pass> Esqueceu a senha?</span>
			</div>
		</form>
	</div>
</div>
